{% extends "base.html" %}

{% block content %}

<div class="content-section">
    <div class="left_side">
        <p>Registered users: </p>
            <ul>
            {% for user in users %}
                {% if current_user.id == 1 %}
                    <li>
                        <div class="card_user">
                            <img src="{{ url_for('static', filename='profile_pics/' + user.username + '/' + 'profile_img' + '/' + user.image_file) }}"
                                alt="" class="rounded-circle">
                            <a class="mr-2" href="{{ url_for('users.user_posts', username=user.username)}}">{{ user.username }}</a>
                        </div>
                        <a class="mr-5" href="{{ url_for('users.delete_user', username=user.username) }}">delete?</a>
                {% else %}
                    <li>
                        <a class="mr-2" href="{{ url_for('users.user_posts', username=user.username)}}">{{ user.username }}</a></li>
                {% endif %}
                    </li>

                {% endfor %}
            </ul>

    </div>

    <div class="list_posts">
         <p>List of articles: </p>

        <ol>
            {% for post in user.posts %}
               <li><a class="article-title-2"  href="{{ url_for('post.post', post_id=post.id)}}">{{ post.title }}</a></li>
            {% endfor %}
         </ol>
    </div>
    <div class="right_side">
        <div class="card">

            <img class="card-body profile-img " src="{{ image_file }}">
            <div class="media-body">
                <h4 class="profile-heading">{{ current_user.username }}</h4>
                <p class="text-secondary">{{ current_user.email }}</p>
            </div>
        </div>

        <!-- FORM HERE -->
        <div class="update_info">

            <form action="" method="POST" enctype="multipart/form-data">

                {{ form.hidden_tag() }}
                <fieldset class="form-group">
                    <legend class="border-bottom mb-6 font_update">Profile update</legend>
                    <div class="form-group">
                        {{ form.username.label(class='form-control-label') }}

                        {% if form.username.errors %}
                        {{ form.username(class='form-control form-control-lg is-invalid') }}
                        <div class="invalid-feedback">
                            {% for errors in form.username.errors %}
                            <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                        {% else %}
                        {{ form.username(class='form-control form-control-lg') }}
                        {% endif %}
                    </div>

                    <div class="form-group">
                        {{ form.email.label(class='form-control-label') }}
                        {% if form.email.errors %}
                        {{ form.email(class='form-control form-control-lg is-invalid') }}
                        <div class="invalid-feedback">
                            {% for errors in form.email.errors %}
                            <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                        {% else %}
                        {{ form.email(class='form-control form-control-lg') }}
                        {% endif %}
                    </div>
                    <div class="form-group">
                        {{ form.picture.label(class ='form-control-label') }}
                        {% if form.picture.errors %}
                       {{ form.picture(class='form-control form-control-lg is-invalid') }}
                        <div class="invalid-feedback">
                            {% for error in form.picture.errors %}
                                <span class="text-danger">{{ error }}</span><br>
                            {% endfor %}
                        </div>
                        {% else %}
                       {{ form.picture(class='form-control form-control-sm') }}

                        {% endif %}

                    </div>

                </fieldset>
        <br>

                <div class="form-group">
                    {{ form.submit(class='btn btn_2-1') }}
                </div>

            </form>
        </div>
    </div>


<!--        {{ user_all  }}-->

</div>

{% endblock content %}