{% extends 'base.html' %}

{% block content %}

<div class="login_form">
    <form action="" method="POST">

        {{ form_reset_password.hidden_tag() }}
            <legend class="legend">Reset password</legend>

            <div class="form-group">
                {% if form_reset_password.password.errors %}
                {{ form_reset_password.password(class='form-post-title is-invalid', placeholder="password") }}
                <div class="invalid-feedback">
                    {% for errors in form_reset_password.password.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                    {{ form_reset_password.password(class='form-post-title', placeholder="password") }}
                {% endif %}
            </div>
            <br>
            <div class="form-group">
                {% if form_reset_password.confirm_password.errors %}
                {{ form_reset_password.confirm_password(class='form-post-title is-invalid', placeholder="confirm password") }}
                <div class="invalid-feedback">
                    {% for errors in form_reset_password.confirm_password.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                    {{ form_reset_password.confirm_password(class='form-post-title', placeholder="confirm password") }}
                {% endif %}
            </div>


        <div class="form-group">
            {{ form_reset_password.submit(class='btn_2') }}
        </div>

    </form>
</div>

{% endblock content %}