{% extends 'base.html' %}

{% block content %}

{#{{ ckeditor.load() }}#}

<div class="post_create_form">
    <form action="" class="form_sign_in" enctype="multipart/form-data" method="POST">


        {{ form.hidden_tag() }}

        <legend class="legend">{{ legend }}</legend>


        <div class="invalid-feedback">
            {% for errors in form.title.errors %}
            <span>{{ error }}</span>
            {% endfor %}
        </div>

        {{ form.title(class='form-post-title-v2', placeholder='Title') }}
        {{ form.content(class='form-post-textarea', placeholder='Article') }}
        {{ form.picture(class='form-post-file') }}
        {{ form.submit(class='btn_2') }}

    </form>
{#    {{ ckeditor.load() }}#}
{#    {{ ckeditor.config(name='content') }}#}
{##}
{##}
{##}
{##}
{#    <script>#}
{#    CKEDITOR.addCss(".cke_editable{cursor:text; font-size: 20px; color: indigo;}");#}
{#    CKEDITOR.addCss("body{cursor:text; background-color: #FFF5FD; font-family: Caveat !important; }");#}
{#    </script>#}
</div>
{% endblock content %}