{% extends 'base.html' %}

{% block content %}

<div class="post">
    <div class="user_post">
        <div class="user_info_single_post">
            <div class="left_side_v2">
                <img src="{{ url_for('static', filename='profile_pics/' + post.author.username + '/profile_img/' + post.author.image_file) }}"
                        alt="" class="rounded-circle">

                <a class="mr-2" href="{{ url_for('users.user_posts', username=post.author.username)}}">{{ post.author.username }}</a>
                <small class="text-muted-v2">{{ post.date_posted.strftime('%d.%m.%Y-%H:%M') }}</small>
            </div>
            {% if post.author == current_user %}
                <div class="right_side_v2">
                    <a class="btn btn-info mb-5" href="{{ url_for('post.update_post', post_id=post.id) }}">Update</a>
                    <button id="btnOpenModalFormDeletePost" onclick="document.getElementById('frmModalFormDeletePost').style.display='block'" type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                        Delete
                    </button>
                </div>
            {% endif %}

       </div>
        <div class="posts_blog_2">
            <div class ="art-1">
                <p class="article-title"> {{ post.title }}</p>
            </div>
            <div class="img_cont">
                {% if post.image_post is not none %}
                <img src="{{ image_file }}" alt="post_img">
                {% endif %}
            <p class="article-content">{{ post.content|safe}}</p>

            </div>

        </div>
        <div class="post_stat_side">
            <div class="left_side_stat_post">&#128065;{{ post.views }}</div>
            <div class="right_side_stat_post">&#10084; {{ post.likes }}</div>
        </div>
        <!-- Modal -->
        <div id="frmModalFormDeletePost" class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
             aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <small class="modal-title" id="deleteModalLabel">Are you sure you want to delete this article?</small>
                    </div>
                    <div class="modal-body">
{#                        <button type="button" class="btn-close"  aria-label="Delete"></button>#}
                        <form action="{{ url_for('post.delete_post', post_id=post.id) }}" method="post">
                            <input type="submit" class="btn btn-danger" value="Delete">
                        <button id="btnCloseModalFormDeletePost" onclick="document.getElementById('frmModalFormDeletePost').style.display='none'"
                            type="button" class="btn btn-secondary">Close</button>

                        </form>
                    </div>
                </div>
            </div>

        </div>

    <div class="content_comment">
        <form method="POST" action="{{ url_for('post.post', post_id=post_id) }}">
            {{ form.hidden_tag() }}
            <legend class="border-bottom mb-6 font_update">Add your comment</legend>

                    <p></p>
                    {% if form.body.errors %}
                        {{ form.body(class='form-post-textarea is-invalid') }}
                        <div class="invalid-feedback">
                            {% for error in form.body.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.body(class='form-post-textarea', placeholder="write comment here") }}
                    {% endif %}


                    <p></p>

            <div class="form-group">

                {{ form.submit(class='btn_2-2') }}
            </div>
        </form>
    </div>
    <div class="comment_side">
        {% for i in comment %}
            <div class="single_comment">
                <div class="head_comment">
                    <div class="left_comment_side">
                        <a class="mr-3" href="{{ url_for('users.user_posts', username=i.username) }}">{{ i.username }}</a>
                    </div>
                    <div class="right_comment_side">{{ i.date_posted.strftime('%d.%m.%Y-%H:%M') }}</div>
                </div>

                <div class="body_comment">
                    {{ i.body }} {{ i.id }}
                </div>
                <div class="stat_comment">

                    <div class="left_stat_side">&#128065; {{ i.views }}</div>
                    <div class="right_stat_side">&#10084; {{ i.likes }}</div>

                </div>
                <div class="comment_btn">
                    <a class="btn btn-info mb-5" href="{{ url_for( 'post.update_comment', comment_id=i.id) }}">Update</a>
                    <a class="btn btn-danger" href="{{ url_for( 'post.delete_comment', comment_id=i.id) }}">Delete</a>
                </div>
            </div>
        {% endfor %}

        </div>
    </div>
</div>


{% endblock %}