{% extends 'base.html' %}

{% block content %}
<div class="post_create_form">
    <form action="" class="form_sign_in" enctype="multipart/form-data" method="POST">
        {{ form_comment_update.hidden_tag() }}
    <legend class="legend">Update the comment</legend>

    <div class="invalid-feedback">
                        {% for errors in form_comment_update.body.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
    </div>

                {% if form_comment_update.body.errors %}
                    {{ form_comment_update.body(class='form-post-textarea is-invalid') }}

                {% else %}
                    {{form_comment_update.body(class='form-post-textarea')  }}
                {% endif %}

    <br>
        <div class = "form-group">
            {{ form_comment_update.submit(class='btn_2') }}
        </div>
    </form>
</div>

{% endblock %}