@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Monsieur La Doulaise&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Allison&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fleur De Leah&display=swap');
*{

margin: 0;
padding: 0;

}


html, body{
    height: 100%;

}

/*LOGO*/
.logo img{
    float: left;
    margin: 50px;
    margin-top: 0;
    width: 160px;
}



/*MAIN MENU*/
.header{
    height: 125px;
    background-image: radial-gradient( rgba(152, 251, 152,0.5), rgba(221, 160, 221,1) );
    outline: 1px violet solid;
}

.main_menu{
    display: flex;
    justify-content: right;
    padding-right: 50px;
}

.main_menu a{
    text-decoration: none;
    color: indigo;
    font-weight: 400;
}

.main_menu li{
    list-style: none;
    outline: 1px  indigo  solid;
    margin-right: 5px;
    width: 120px;
    margin-top: 8%;
    box-shadow: 10px 10px 10px rgba(152, 251, 152,0.5);
    font-family: Caveat;
    font-style: oblique ;
    border-radius: 10px 100px / 120px;
    text-align: center;

}

.main_menu li:hover{
    transition-duration: 0.5s;
    box-shadow: 5px 5px 40px indigo;
}

.main_menu p{
    font-size: 21px;

}

.online_status{
    height: 30px;
    display: flex;
    /*justify-content: right;*/
    align-items: center;
    margin: 20px 0 0 50px;




}


.online_user{

    width:8px;
    height:8px;
    background-color: indigo;
    border-radius: 200px;
    text-align: right;
    box-shadow: 0px 0px 7px 5px palegreen;

}

.current_user{
    text-align: right;
    margin-left: 10px;
    align-self: center;

}

.current_user small{
    font-family: Caveat;
    color: indigo;
    font-size: 19px;

}

/* SEARCH */

.form_search{
    display:flex;
    justify-content: right;


    align-items: flex-end;

}

.form-control_v2{

    /*outline: 1px  indigo  solid;*/



    /*box-shadow: 10px 10px 10px rgba(152, 251, 152,0.5);*/
    /*font-family: Caveat;*/

    /*font-style: oblique ;*/
    /*border-radius: 10px 100px / 120px;*/
    /*text-align: center;*/

}

/*WRAPPER*/
.wrapper{
    display: flex;
    flex-direction: column;
    height: 100%;
}

/*CONTENT*/
.content{
    width: 100%;
    margin: 0 auto;
    flex: 1 0 auto;
}


/*MAIN_PAGE*/
.info{
    display: flex;
    margin:0 auto;
    width: 25%;
    align-items: center;
    font-family: Caveat;
}

.description{
    margin: 0 auto;
    text-align: center;
}

.names{
    padding: 1px 1px;
    letter-spacing: 1px;
    font-family: Fleur De Leah;
    font-size: 35px;
    color: SeaGreen;
}

.desc{
    width: 80%;
    font-weight: 400;
    font-size: 21px;
    color: indigo;
    margin: 0 auto;
    text-align: center;
}

desc li{
    margin-bottom: 10px;
    padding: 5px;
    font-family:Caveat;
    text-align: center;
}

ul.checkmark li:before{
    content: "\2713\0020";
    color: indigo;
}

ul a{
    text-decoration:1px underline;
    color: indigo;
}

.checkmark li:hover{
    transition-duration: 0.1s;
    box-shadow: 10px 10px 10px #DDA0DD;
    border-radius: 10px 100px / 120px;
}

.checkmark li{
    list-style: none;
}



/*FOOTER*/
.footer{
    display: flex;
    flex: 0 0 auto;
    justify-content: center;
    align-items: center;
    width: 100%;
    /*height: 40px;*/
    outline: 1px violet solid;
    font-size: 15px;
    font-family: Caveat ;
    font-style: oblique ;
    background-image: radial-gradient( rgba(152, 251, 152,0.5), rgba(221, 160, 221,1) );;

}

/* BLOG // USER_POSTS*/

.blog_content_area{
display: flex;
}

.blog_content{
    width: 80%;
    margin: 20px auto;
}

.info_user_blog {
    display: flex;

    align-items: baseline;
    margin-bottom: 10px;
}
/*    display: flex;*/
/*    margin-bottom: 10px;*/
/*}*/

.posts_blog {
    text-align: left;
    margin:0 30px 30px 30px;
    outline: 1px darkgreen solid;
    border-radius: 10px 10px 10px;
    /*background-color: rgba(221, 160, 221,0.2);*/
}



.rounded-circle{
    width: 50px;
    height: auto;
    border-radius: 100%;
    margin: 10px 0 0 20px;
    outline: 1px darkgreen solid;

}
.mr-2{
    padding: 3px;
    font-family: Caveat ;
    font-style: oblique;
    font-size: 23px;
    font-weight: 500;
    color: indigo;
}

small.text-muted-v2{
    margin-right: 300px;
    padding: 5px;
    font-family: Caveat ;
    /*font-style: normal;*/
    font-size: 20px;
    /*font-weight: 600;*/

}

.article-title{
    display: flex;
    text-align: center;
    margin: 0 auto;
    padding: 10px 10px 10px 20px ;
    font-family: Caveat ;
    font-size:30px;
    /*text-decoration: 1px;*/
    color: darkgreen;

}

.article-content{
    padding: 10px;
    font-family: Caveat;
    font-size: 20px;
    font-weight: 500;
    color: indigo;
}
.mb-3{
    margin-left:50px;
    padding: 5px;
    font-family: Caveat ;
    font-size:25px;
    color: seagreen;
}

.posts_blog img{
    width: auto;
    height: 100px;
    float: initial;
    margin: 0 0 0 50px;
    border-radius:  10% 10% 10%;
    outline: 1px solid seagreen;

}
.info_posts_user{

    align-items: center;
    margin: 40px 40px auto 30px;
}


.info_posts_user small{
    font-family: Fleur De Leah;
    font-size: 30px;
    letter-spacing: 1px;
    color: darkgreen;
}

.info_posts_user p{
    font-family: Caveat;
    font-size: 21px;
    color: darkgreen;
}

.info_posts_user_page{
    text-align: left;
    margin-left: 50px;
    font-size: 21px;
    color: indigo;
}

.info_posts_user_page a{
    /*text-decoration: none;*/
    font-family:Caveat;
    padding: 5px;
    cursor: pointer;
}

.create_post_btn{
    margin-top: 10px;
    font-family:Caveat;
    color: indigo;
    border-radius: 10px 100px / 120px;
    background-color: rgba(152, 251, 152, 0.3);
    border: 1px solid indigo;
    cursor: pointer;
    width: 120px;
}

.btn_sign_in{
    font-size: 21px;
    padding: 5px;
    text-decoration: none;

}

.create_post_btn:hover {
    transition-duration: 0.5s;
    box-shadow: 5px 5px 40px indigo;
}

/*POST*/

.post{
    flex: 1 0 auto;
    /*height: 100%;*/
    margin: 20px 50px 20px 50px;

}

.user_info_single_post{
    display: flex;
    margin:20px 20px;
}

.img_cont{
flex: 1 0 auto;
    /*height: 100%;*/
    margin: 0 auto;
}

.img_cont img{
    float: right;
    width: 400px;
    height: auto;
    padding: 2px;
    margin: 10px;
    border-radius:  5% 5% 5%;
    outline: 1px solid seagreen;

}

right_side_v2{

}

.left_side_v2{
    margin: 20px 0px 10px 20px;
}


.btn.btn-info.mb-5{
    margin-right: 10px;
    text-decoration: none;
    padding: 1px 20px 1px 20px;
    font-family:Caveat;
    font-style: oblique;
    font-size: 21px;
    color: indigo;
    border-radius: 5px;
    background-color: rgba(152, 251, 152,0.5);
    border: 1px solid indigo;
}

.btn.btn-info.mb-5:hover{
    transition-duration: 0.1s;
    border-radius: 5px;
    box-shadow: 5px 5px 40px indigo;

}

.right_side button{
    padding: 1px 20px 1px 20px;
    font-family:Caveat;
    font-style: oblique;
    font-size: 21px;
    color: indigo;
    border-radius: 5px;
    background-color: rgba(2220, 20, 60, 0.5);
    border: 1px solid indigo;

}

.right_side button:hover{
    transition-duration: 0.1s;
    border-radius: 5px;
    box-shadow: 5px 5px 40px indigo;

}

.post_stat_side{
    display: flex;
    justify-content: space-between;
}
.left_side_stat_post{
    margin-left: 5px;
    font-family: Caveat;
    font-size: 20px;
    color:seagreen;
}

.right_side_stat_post{
    margin-right: 5px;
    font-family: Caveat;
    font-size: 20px;
    color:indianred;
}


/* MODAL*/

.fade{
    display: none; /* Hidden by default */
    position: fixed ; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */

}

.modal-dialog{
    background-color: #FFFFFF;
    border-radius: 5px;
    margin: auto;
    padding: 20px;
    border: 2px solid indianred;
    width: 40%;

}
.modal-header{
    text-align: center;
    font-family: Caveat;
    font-weight: 500;
    font-size: 30px;
    color: indigo;
}

.modal-body{
    display: flex;
    justify-content: space-between;
    margin-left: 150px;
    margin-top: 30px;

}

.btn-danger{
    padding: 1px 20px 1px 20px;
    font-family:Caveat;
    font-style: oblique;
    font-size: 21px;
    color: indigo;
    text-decoration: none;
    border-radius: 5px;
    background-color: rgba(2220, 20, 60, 0.5);
    border: 1px solid indigo;

}

.btn-danger:hover{
    transition-duration: 0.1s;
    border-radius: 5px;
    box-shadow: 5px 5px 40px indigo;

}

.btn-secondary{
    margin-left: 30px;
    text-decoration: none;
    padding: 1px 25px 1px 25px;
    font-family:Caveat;
    font-style: oblique;
    font-size: 21px;
    color: indigo;
    border-radius: 5px;
    background-color: rgba(152, 251, 152,0.5);
    border: 1px solid indigo;
}

.btn-secondary:hover{
    transition-duration: 0.1s;
    border-radius: 5px;
    box-shadow: 5px 5px 40px indigo;

}


/* PAGINATION */
.post_paginate{
    margin: 0 5px 20px 80px;
    font-family:Caveat;
    font-size: 19px;
    color: indigo;
    text-decoration: none;
}

.btn-info.mb-4{
    padding: 1px 5px 1px 5px;
    border-radius: 5px;
    background-color: rgba(221, 160, 221,0.5);
    border: 1px solid indigo;
    text-decoration: none;

}
.btn-outline-success.mb-4{
    padding: 1px 5px 1px 5px;
}


.btn-outline-success.mb-4:hover {
    transition-duration: 0.1s;
    padding: 1px 5px 1px 5px;
    border-radius: 5px;
    background-color: rgba(152, 251, 152,0.5);
    border: 1px solid darkgreen;
    text-decoration: none;
}

/*COMMENT FORM*/

.content_comment{
    display: grid;

    width: 60%;

}

.btn_2-2{
    display: flow;
    justify-content: center;
    background-color: rgba(152, 251, 152, 0.3);
    font-family:Caveat;
    font-size: 23px;
    color: indigo;
    margin: auto;
    border-radius: 10px 100px / 120px;
    padding: 5px;
    border: 1px solid indigo;
    cursor: pointer;
    width: 100px;

}

.btn_2-2:hover {
  transition-duration: 0.5s;
  box-shadow: 5px 5px 40px indigo;
}

/*COMMENT SIDE*/

.single_comment{
    margin: 10px 0;
    border-radius: 10px;
    padding: 5px;
    outline: 1px solid #DDA0DD;
}
.head_comment{
    display: flex;
    justify-content: space-between ;
}

.mr-3{
    padding: 3px;
    font-family: Caveat ;
    font-style: oblique;
    font-size: 20px;
    font-weight: 500;
    color: indigo;

}
.right_comment_side{
    margin-right: 18px;
    padding: 5px;
    font-family: Caveat ;
    /*font-style: normal;*/
    font-size: 18px;
    /*font-weight: 600;*/
    color: indigo;

}
.body_comment{
    padding: 3px;
    font-family: Caveat ;
    font-size: 18px;
    font-weight: 500;
    color: darkgreen;

}
.stat_comment{
    display: flex;
    justify-content: space-between;
}
.left_stat_side{
    margin-left: 5px;
    font-family: Caveat;
    font-size: 17px;
    color:seagreen;
}

.right_stat_side{
    margin-right: 5px;
    font-family: Caveat;
    font-size: 17px;
    color:indianred;
}
.comment_btn{
    display: flex;
    justify-content: center;
    margin: 5px;
}

/*UPDATE COMMENT FORM*/

.form_sign_in{
    width: 100%;

}


/*PROFILE*/

.content-section{
    display: flex;
    width: auto;
}

.left_side{
    width: 400%;
    margin: 0 20px 10px 20px;
}




.left_side p{
    padding: 2px;
    font-family: Fleur De Leah;
    font-size: 35px;
    color: darkgreen;
    letter-spacing: 1px;
}

.left_side li{
    list-style: none;
}

.mr-5{
    margin-left: 30px;
    font-family: Caveat;
    padding: 3px;
    font-size: 17px;
    color: red;
}

.list_posts{
    width: 800%;
    margin: 0 20px 0 20px ;


}
.list_posts p{
    text-align: center;
    padding: 2px;
    font-family: Fleur De Leah;
    font-size: 35px;
    color: darkgreen;
    letter-spacing: 1px;
}
.list_posts ol{
    font-family: Caveat ;
    font-size:21px;
    color: indigo;
}

.article-title-2{
    display: flex;
    text-align: center;
    margin: 0 auto;
    padding: 3px ;
    font-family: Caveat ;
    font-size:21px;
    color: indigo;
}

.right_side{
    margin: 0px 30px auto 20px;
    justify-content: end;
}

.card{
    text-align: center;
    align-items: center;
    /*width: 300px;*/
    /*border :none;*/
}

.profile-img{
    width: 80px;
    padding: 2px;
    height: auto;
    border-radius: 100%;
    margin: 10px 0 0 20px;
    outline: 1px darkgreen solid;

}

.profile-heading{
    /*padding: 3px;*/
    font-family: Caveat ;
    font-style: oblique;
    font-size: 25px;
    font-weight: 500;
    color: darkgreen;

}
.text-secondary{
    padding: 3px;
    font-family: Caveat ;
    font-size: 25px;
    font-weight: 500;
    color: indigo;

}
/*PROFILE UPDATE FORM*/

.font_update{
    /*padding-bottom: 10px;*/
   align-items: center;
   justify-content: center;
   font-family: Fleur De Leah;
   color: darkgreen;
   font-size: 35px;
   text-align: center;
   letter-spacing: 1px;
}

.form-control-label{
    font-family: Caveat ;
    font-size: 21px;
    font-style: oblique;
    font-weight: 500;
    color: darkgreen;

}

.form-control-lg{
    display: block;
    width: 90%;
    margin-bottom: 10px;
    border: 1px solid indigo;
    border-radius: 10px 100px / 120px;
    padding: 0px 10px 0px 10px;
    background: rgba(221, 160, 221,0.1);
    font-family: Caveat;
    font-weight: 500;
    font-size: 23px;
    color: indigo;
}

/*.form-control-lg::placeholder{*/
/*    color: rgba(46, 139, 87, 0.9);*/
/*    font-family: Caveat;*/


/*}*/
input#username.form-control-lg:focus,
input#email.form-control-lg:focus,
input#body.form-control-lg:focus {
    border: 1px solid indigo;
    border-radius: 10px 100px / 120px;
    padding: 0 10px 0 10px;
    background-color: rgba(152, 251, 152,0.1);
    font-family: Caveat;
    font-weight: 500;
    font-size: 23px;
    color: indigo;

}
input#username.form-control-lg.is-invalid,
input#email.form-control-lg.is-invalid,
input#body.form-control-lg.is-invalid{
    width: auto;
    margin: 5px 0 5px 0;
    border-radius: 10px 100px / 120px;
    padding: 0px 10px 0px 10px;
    background: rgba(221, 160, 221,0.1);
    border: 1px solid red;
    font-family: Caveat;
    font-weight: 500;
    font-size: 23px;
    color: indianred;
}


.form-control-sm{
    font-family: Caveat ;
    font-size: 21px;
    font-style: oblique;
    font-weight: 500;
    color: darkgreen;
}

.btn_2-1{
  background-color: rgba(152, 251, 152, 0.3);
  font-family:Caveat;
  font-size: 23px;
  color: indigo;
  margin: 0 10px 0px 220px;
  border-radius: 10px 100px / 120px;
  padding: 5px;
  border: 1px solid indigo;
  cursor: pointer;
  width: 80px;
}

.btn_2-1:hover {
  transition-duration: 0.5s;
  box-shadow: 5px 5px 40px indigo;
  /*opacity: 0.8;*/
}

fieldset.form-group{
    width: auto;
    border: 1px solid seagreen;
    border-radius: 10px;
    margin-bottom: 10px;
    padding: 0 10px 0 10px;
}

/*ERRORS 403 404 500 */

.errors_v1{
    /*margin: 0 400px auto 400px;*/
    text-align: center;
    font-family:Caveat;
    font-size: 25px;
    color: indigo;
}

/* SEARCH FORM */

.form_search_blog{
    display: flex;
    justify-content: space-between;
    margin-right: 30px;
    margin-top: 5px;

}
.form-control_v2{
    width: 180px;
    border: 1px solid indigo;
    padding: 1px 5px;
    border-radius: 5px;
    margin-right: 5px;

    /*background: rgba(221, 160, 221,0.1);*/
    font-family: Caveat;
    font-size: 18px;
}

.form-control_v2::placeholder {
    color: rgba(46, 139, 87, 0.9);
    font-style: oblique;

}

/*input[type="search"]::-webkit-search-decoration,*/
/*input[type="search"]::-webkit-search-cancel-button,*/
/*input[type="search"]::-webkit-search-results-button,*/
/*input[type="search"]::-webkit-search-results-decoration {*/
/*  display: none;*/
/*  -webkit-appearance: none;*/
/*}*/


input.form-control_v2[type="search"]:focus{
    outline: none;
    width: 180px;
    border-radius: 5px;
    border: 1px solid indigo;
    margin-right: 5px;
    padding: 1px 5px;
    background-color: rgba(152, 251, 152, 0.1);
    font-family: Caveat;
    font-size: 18px;
    color: indigo;
}
.btn_search{
    display: flow;
    justify-content: center;
    background-color: rgba(152, 251, 152, 0.3);
    font-family:Caveat;
    font-size: 18px;
    color: indigo;
    font-style: oblique;
    margin: auto;
    border-radius: 10px 100px / 120px;
    padding: 1px;
    border: 1px solid indigo;
    cursor: pointer;
    width: 60px;

}

.btn_search:hover {
    transition-duration: 0.5s;
    box-shadow: 5px 5px 40px indigo;
    /*opacity: 0.8;*/
}
/* SEARCH */

.choice_text{
    width: 60%;
    margin-left: 30px;
    margin-bottom: 20px;
}

.article-title-3{
    display: flex;
    text-align: center;
    margin: 0 auto;
    /*padding: 10px 10px 10px 20px ;*/
    font-family: Caveat ;
    font-size:25px;
    /*text-decoration: 1px;*/
    color: darkgreen;
}
.comments-views{
    margin-left: 20px;
    font-style: normal;
    color: darkgreen;



}



