{% extends "base.html" %}


{% block main_page %}
    <div class="wrapper">
        <div class="info">
            <div class="description">
                <p class="names">Aila cosmetics' articles:</p>
            <div class="desc">
                <ul class="checkmark">
                    <li><a href="{{  url_for('main.category_page', category_name='Cosmetics novelty')}}">Cosmetics novelty</a></li>
                    <li><a href="{{url_for('main.category_page', category_name='Skincare')}}">Skincare</a></li>
                    <li><a href="{{url_for('main.category_page', category_name='Decorative cosmetics')}}">Decorative cosmetics</a></li>
                    <li><a href="{{url_for('main.category_page', category_name='Hand-made')}}">Hand-made</a></li>
                    <li><a href="{{url_for('main.category_page', category_name='Dangerous ingredients')}}"> Dangerous ingredients</a></li>
                    <li><a href="{{url_for('main.category_page', category_name='Cosmetics procedures')}}">Cosmetics procedures</a></li>
                    <li><a href="{{url_for('main.category_page', category_name='Recipes for youth')}}">Recipes for youth</a></li>
                </ul>
            </div>
            </div>
        </div>
    </div>
{% endblock main_page %}
